<!-- Banner -->

  <section id="banner">
    <div class="inner split">
      <section>
        <h2>Patchwork στην Ελλάδα</h2>
      </section>
      <section>
        <p>Σύλλογος για όσους αγαπάνε το Patchwork</p>
        <ul class="actions">
          <li><a href="https://www.facebook.com/groups/430185743779860" class="button special"><i class="fa fa-facebook"></i> Facebook</a></li>
          <li><a href="mailto:paplomatoudes@gmail.com" class="button special"><i class="fa fa-envelope"></i> Email</a></li>
        </ul>
      </section>
    </div>
  </section>
