<!-- Two -->
  <section id="two" class="wrapper style2 alt">
    <div class="inner">

      {% for post in site.posts limit:3 %}
        <div class="spotlight">
          <div class="image">
            {{ post.flickr_album }}
          </div>
          <div class="content">
            <h3>{{ post.title }}</h3>
            <p>
              {{ post.date | date_to_string }}
            </p>
              {{ post.excerpt }}
            <ul class="actions">
              <li><a class="button alt" href="{{ post.url }}">Περισσοτερα</a></li>
            </ul>
          </div>
        </div>

      {% endfor %}
      <ul class="actions special">
        <li><a href="/assets/katastatiko-new.doc" class="button alt">Το καταστατικο μας <i class="fa fa-download"></i></a></li>
        <li><a href="/assets/ekptoseis.xlsx" class="button alt">Οι εκπτωσεις μας <i class="fa fa-download"></i></a></li>
      </ul>
    </div>
  </section>
